.card-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Card {
    margin: 10px;
    width: 200px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .Details {
    padding: 10px;
  }
  
  .Img-details {
    text-align: center;
  }
  
  .Image {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the entire space */
    border-radius: 10px 10px 0 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  